* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    overflow: hidden;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
.header {
    display: flex;
    position: relative;
}

.elements {
    display: flex;
    gap: 10px;
    align-items: center;
    align-content: center;
    position: absolute;
    top: 0;
    right: 10;
}

.header a {
    text-decoration: none;
    font-size: 13px;
    color: #202124;
}
.header a:hover {
    text-decoration: underline;
}
.menu-bg {
    position: relative;
    color: rgb(59, 59, 59);
    padding: 8px;
    border-radius: 50%;
}
.menu-bg:hover {
    background-color: rgba(100, 100, 100, 0.1);
    cursor: pointer;
}

.search-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 170px;
}
.search-wrapper img {
    object-fit: contain;
    height: 280px;
    margin-bottom: -120px;
}

.search_input {
    background: #ffffff;
    border: 1px solid rgb(223, 222, 222);
    width: 100%;
    border-radius: 24px;
    padding: 10px 20px;
    margin-top: 40px;
}
.search_input input {
    font-size: 16px;
    width: 560px;
    height: 20px;
    border: none;
    outline: none;
    padding-left: 10px;
    margin-top: -25px;
}
.search_input:hover {
    box-shadow: 0 1px 3px 1px rgba(150, 150, 150, 0.5);
}

.autocom-box {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 275px;
    overflow-y: auto;
}

.search_input.active .autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}
.autocom-box li::before {
    font-family: "Material Symbols Outlined";
    content: "search";
    display: inline-block;
    margin-right: 15px;
    color: gray;
    font-size: 20px;

}
.autocom-box li {
    font-size: 16px;
    list-style: none;
    padding: 6px 0px;
    width: 100%;
    height: 32px;
    cursor: default;
    border-radius: 3px;
    display: none;
}
.search_input.active .autocom-box li {
    display: flex;
    align-items: center;

    margin-left: -6px;
}
.autocom-box li:hover {
    background: #f5f5f5;
}
#search{
    font-size: 20px;
}
.search_input .material-symbols-outlined {
    color: gray;
}
#mic {
    margin-right: 10px;
}
.search_button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    position: relative;
}

button {
    border: 1px solid transparent;
    margin: 5px;
    padding: 8px 12px;
    background-color: #f8f9fa;
    border-radius: 5px;
    color:#474b4e;
}
button:hover {
    outline-style: solid;
    outline-color: rgb(194, 193, 193);
    outline-width: 1px;
    box-shadow: 0 0 2px 1px rgba(221, 221, 221, 0.5);
    cursor: pointer;
    color: black;
}

footer {
    width: 100%;
    background-color: #f2f2f2;
}

.panelone {
    border-bottom: 1px solid #ddd;
    height: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
}
.paneltwo {
    border-bottom: 1px solid #ddd;
    height: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
}

ul {
    display: flex;
    list-style: none;
    margin-left: 2%;
}
ul li {
    display: inline;
    margin-right: 30px;
}
.paneltwo a {
    text-decoration: none;
}
.paneltwo a:hover {
    text-decoration: underline;
    cursor: pointer;
}
p {
    margin-left: 2%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .paneltwo {
        height: 90px;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 15px;}
    .search_input {
        width: 400px;
    }
    .search_input input {
        width: 260px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
    .search_input {
        width: 600px;
    }
    .search_input input {
        width: 460px;
    }
    .paneltwo {
        height: 90px;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 15px;
    }
    .paneltwo ul {
        justify-content: center;
    }
}

@media only screen and (min-width: 700px) {
    .paneltwo {
        border-bottom: 1px solid #ddd;
        height: 48px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
}
